@{
	ViewBag.Title = "Pasta&amp;More";
}

<main>
   <div class="container-quote quote-container">
        <blockquote>
            <p>Life is a combination of magic and pasta</p>
            <footer>Federico Fellini</footer>
        </blockquote>
    </div>
</main>