@{
	ViewBag.Title = "Pasta&amp;More";
}

<main>
	<div class="textContainer">
		<div class="cafeName">
			<span>PASTASS </span><span class="orangeColor">&amp;</span><span> MOREMo</span>
		</div>
		<div class="wave">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 viewBox="0 0 960 560" style="enable-background:new 0 0 960 560;" xml:space="preserve">
				<style type="text/css">
					.st0 {
						fill: none;
						stroke: #D38806;
						stroke-width: 6;
						stroke-miterlimit: 10;
					}
				</style>
				<path class="st0" d="M79,150.6c0,0,6.5-11.6,18.1,0c11.6,11.6,18.1,0,18.1,0s6.2-12,18.1,0c12,12,18.1,0,18.1,0" />
				<path class="st0" d="M151.5,150.6c0,0,6.5-11.6,18.1,0c11.6,11.6,18.1,0,18.1,0s6.2-12,18.1,0c12,12,18.1,0,18.1,0" />
				<path class="st0" d="M224,150.6c0,0,6.5-11.6,18.1,0c11.6,11.6,18.1,0,18.1,0s6.2-12,18.1,0c12,12,18.1,0,18.1,0" />
				<path class="st0" d="M296.5,150.6c0,0,6.5-11.6,18.1,0c11.6,11.6,18.1,0,18.1,0s6.2-12,18.1,0c12,12,18.1,0,18.1,0" />
			</svg>
		</div>
		<div class="quote1">
			<p class="text1">
				Life is a combination of magic and <span class="orangeColor">pasta</span>
			</p>
			<p class="author1">Federico Fellini</p>
		</div>
	</div>
</main>
