<!DOCTYPE html>
<html lang="en">
<head>
    <title>Salads Menu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="styles/styleB.css" rel="stylesheet" type="text/css">
    <link href="styles/styleMenu.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-menu menu-item">
        <div class="container-fluid">
            <div class="row slideanim">
                <div class="col-md-3 col-sm-6 col-xs-12 menu-elem">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>Caprese</h1>
                            <img src="images/salad.png" />
                        </div>
                        <div class="panel-body">
                            <p>Mozarella, baked potatoes, grilled vegetables, pesto souce, olive oil</p>
                        </div>
                        <div class="panel-footer">
                            <h4>L: 3000 AMD</h4>
                            <h5>M: 2500 AMD</h5>
                            <h6>S: 2000 AMD</h6>
                            <button class="btn btn-sm">See more</button>
                            <button class="btn btn-sm">Order</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 menu-elem">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>Caprese</h1>
                            <img src="images/salad.png" />
                        </div>
                        <div class="panel-body">
                            <p>Mozarella, baked potatoes, grilled vegetables, pesto souce, olive oil</p>
                        </div>
                        <div class="panel-footer">
                            <h4>L: 3000 AMD</h4>
                            <h5>M: 2500 AMD</h5>
                            <h6>S: 2000 AMD</h6>
                            <button class="btn btn-sm">See more</button>
                            <button class="btn btn-sm">Order</button>

                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 menu-elem">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>Caprese</h1>
                            <img src="images/salad.png" />
                        </div>
                        <div class="panel-body">
                            <p>Mozarella, baked potatoes, grilled vegetables, pesto souce, olive oil</p>
                        </div>
                        <div class="panel-footer">
                            <h4>L: 3000 AMD</h4>
                            <h5>M: 2500 AMD</h5>
                            <h6>S: 2000 AMD</h6>
                            <button class="btn btn-sm">See more</button>
                            <button class="btn btn-sm">Order</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 menu-elem">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading">
                            <h1>Caprese</h1>
                            <img src="images/salad.png" />
                        </div>
                        <div class="panel-body">
                            <p>Mozarella, baked potatoes, grilled vegetables, pesto souce, olive oil</p>
                        </div>
                        <div class="panel-footer">
                            <h4>L: 3000 AMD</h4>
                            <h5>M: 2500 AMD</h5>
                            <h6>S: 2000 AMD</h6>
                            <button class="btn btn-sm">See more</button>
                            <button class="btn btn-sm">Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>