
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>AdminLogin</title>
	<script src="~/Scripts/MyScripts/jquery-3.3.1.js"></script>
	<script src="~/Scripts/MyScripts/AdminLogin.js"></script>
</head>
<body>
	<div>
			<input type="text" placeholder="LogIn" id="logIn" />
			<input type="password" placeholder="Password" id="password" />
			<button id="adminLogIn">LogIn</button>
		
	</div>
</body>
</html>
