.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

#override .carousel-caption h3 {
  text-align:center;
  font-size: 36px;
  margin-bottom: 15px; 
}

#override .carousel-caption a {
  color: #fff;
  text-decoration: none;
}

#override .carousel-caption a:hover {
  color: #d38806;
  font-weight: bold;
  text-decoration: none;
}
