html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
}

header {
  padding-left: 0;
  padding-right: 0;
}

#override {
  height: 100%;
  background: url(../images/bg3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Noto Sans', sans-serif;
}

#override .navbar-nav>li>a, #override .navbar-brand, #override .navbar-nav>.active>a {
  color: #fff;
  background: transparent;
  font-size: 20px;
  transition: all 0.5s ease;
  margin-top: 15px;
}

#override .navbar-brand {
  color: #d38806;
  font-weight: bold;
  border-right: 3px solid #d38806;
}

#override .navbar-right>.active>a {
  color: #d38806;
  font-weight: bold;
}

#override .navbar-default .navbar-nav>li>a:hover, #override .navbar-nav>.active>a:hover, #override .navbar-default .navbar-brand:hover {
  color: #d38806;
  font-weight: bold;
}

#override .navbar-default .navbar-toggle {
  border-color: #d38806;
  border: none;
  background: transparent;
}


#override .navbar-default .navbar-toggle .icon-bar {
  background-color: #d38806;
}

#override .quote-container {
  position: absolute;
  top: 100px;
}

@media only screen and (max-width: 720px) {
  #override .quote-container {
    display: none;
  }
}

#override .navbar-toggle {
  margin-top: 25px;
}

#override blockquote {
  color: #fff;
  padding: 0 20px;
  font-size: 40px;
  border-left: 3px solid #d38806;
}

#override blockquote footer {
  color: #fff;
}

.navbar-default {
  background: transparent;
  border-style: none;
}