html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    /*font-family: 'Noto Sans', sans-serif;*/
    font-family: 'PT Sans Narrow', sans-serif;
    /*font-family: 'Dosis', sans-serif;*/
    background-color: #b4adb6;

}

.body-container {
    width: 100%;
    margin-top: 30px !important;

}

header {
  padding-left: 0;
  padding-right: 0;
}

.containerNav {
  padding: 0 30px;
}

.bg-grey {
  background-color: #f6f6f6;
}

.logo-small {
  color: #f07813;
  font-size: 50px;
}
.logo {
  color: #f07813;
  font-size: 200px;
}
.thumbnail {
  padding: 0 0 0 0;
  border: none;
  border-radius: 0;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: 100%;
}

.carousel-caption h3 {
  text-align:center;
  font-size: 36px;
  margin-bottom: 15px; 
}

.carousel-caption a {
  color: #fff;
  text-decoration: none;
}

.carousel-caption a:hover {
  color: #f07813;
  font-weight: bold;
  text-decoration: none;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.item span {
  font-style: normal;
}
.container-menu .panel {
  border: 1px solid #f07813; 
  border-radius: 0 !important;
  transition: box-shadow 0.5s;
}
.container-menu .panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover, .container-about .submit-button .btn:hover{
    border: 1px solid #f07813;
    background-color: #fff !important;
    color: #f07813 !important;
}

.container-menu .panel-heading {
  color: #fff !important;
  background-color: #f07813 !important;
  border-radius: 0;
}
.container-menu .panel-footer {
  background-color: white !important;
}
.container-menu .panel-footer h3 {
  font-size: 20px;
}
.container-menu .panel-footer h4 {
  color: #000;
  font-size: 14px;
}
.container-menu .panel-footer .btn, .container-contact .submit-button .btn {
  margin: 5px 0;
  background-color: #f07813;
  color: #fff;
}

.container-contact input, .container-contact textarea, .container-contact select {
    border: 1px solid #f07813;
    transition: box-shadow 0.5s;
    color: #b4adb6;
}

.container-contact select {
    padding-left: 8px;
}

    .container-contact input:hover, .container-contact textarea:hover, .container-contact select:hover {
        box-shadow: 5px 0px 40px rgba(0,0,0, .2);
    }


.navbar {
    margin-bottom: 0;
    background-color: #fff;
    opacity: 0.9;
    z-index: 9999;
    border: 0;
    font-size: 20px !important;
    border-radius: 0;
    font-family: 'PT Sans Narrow', sans-serif;
}
.navbar li a, .navbar .navbar-brand {
  color: #f07813 !important;
  transition: all 0.5s ease;
}

.navbar .navbar-brand {
  border-right: 3px solid #f07813;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  font-weight: bold;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-menu {
  padding: 0 0 !important;
}

.dropdown-menu li a{
  background-color: #f07813;
  opacity: 0.9;
  color: #fff !important;

}

.container-menu .container-fluid {
  padding: 0 30px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #f07813 !important;
}

.jumbotron {
  background-color: #f4511e;
  color: #fff;
  padding: 100px 25px;
}

.panel-heading h1 {
    font-size: 20px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.dropdown-menu li:hover, .dropdown-menu li a:hover, .dropdown-menu li.active a {
  color: #f07813 !important;
  font-weight: bold;
  background-color: transparent !important;
}

footer h4 {
  font-weight: bold;
}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #f07813;
}

footer .container-fluid {
  padding: 20px 20px;
}

.fa {
  padding-top: 8px;
  font-size: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  background: #f07813;
  color: #fff;
}

.fa:hover {
  opacity: 0.7;
  text-decoration: none;
  color: #fff;
}

.fa:visited, .fa:active {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}

footer h4 {
    margin-top: 0;
}

footer p:not(.copyright-footer) {
    margin-bottom: 0;
}


.container-about p, .container-about h4 {
    text-align: left;
}

.container-about img {
    width: 100%;
}


/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

    #myImg:hover {
        opacity: 0.7;
    }

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 660px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 50px;
    right: 17px;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    transition: 0.3s;
    opacity: 1;
}

.close:hover, .close:focus {
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        opacity: .6;
    }

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}



#map {
    height: 350px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
    background-color: grey;
}

footer {
    padding: 30px 30px;
}